In [3]:
import json
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors
import pandas as pd

# Testing for val_exps and non_zeros

In [8]:
def get_accuracy_top1(model1, model2, p=6, k=250):
    asif_value = 0
    with open(f'retrieval_{model1}_{model2}_p{p}_k{k}.json', 'r') as f:
        retrieval = json.load(f)
    words = []
    count_top1 = 0 
    keys_test = [retrieval['all_values'][i] for i in retrieval['rows_deleted']]
    total = len(keys_test)
    for i in range(total):
        word = keys_test[i]
        k_1 = retrieval['retrieval_indices'][i][0]
        if word == retrieval['keys_anchors'][k_1]:
            count_top1 += 1
    asif_value = count_top1 / total
    return asif_value, words

In [11]:
def get_df_asif_accuracy(model1, model2):
    val_exp_range = np.arange(1, 5) 
    non_zeros_range = np.arange(250, 751, 250) 

    rows = []
    for val_exp in val_exp_range:
        for non_zeros in non_zeros_range:
            accuracy = get_accuracy_top1(model1=model1, model2=model2, p=val_exp, k=non_zeros)[0]
            rows.append({
                "val_exp": val_exp,
                "non_zeros": non_zeros,
                "get_accuracy_top1": accuracy
            })

    # Additional points
    additional_points = [
        (1, 100), (2, 100), (3, 100),
        (4, 10), (4, 50), (4, 100), (4, 150), (4, 200), (4, 250),
        (5, 250), (6, 250), (7, 250), (8, 250), (9, 250)
    ]
    for val_exp, non_zeros in additional_points:
        accuracy = get_accuracy_top1(model1=model1, model2=model2, p=val_exp, k=non_zeros)[0]
        rows.append({
            "val_exp": val_exp,
            "non_zeros": non_zeros,
            "get_accuracy_top1": accuracy
        })

    df = pd.DataFrame(rows)

    return df

## EncodecMAE (Encodec) and BERT

In [12]:
get_df_asif_accuracy('base_layer9', 'bert-base-uncased_layer3')

    val_exp  non_zeros  get_accuracy_top1
0         1        250           0.282445
1         1        500           0.267377
2         1        750           0.255579
3         2        250           0.296944
4         2        500           0.282018
5         2        750           0.270505
6         3        250           0.300213
7         3        500           0.287278
8         3        750           0.274627
9         4        250           0.301919
10        4        500           0.286994
11        4        750           0.273916
12        1        100           0.296233
13        2        100           0.302630
14        3        100           0.307463
15        4         10           0.234257
16        4         50           0.292111
17        4        100           0.311016
18        4        150           0.306041
19        4        200           0.305473
20        4        250           0.301919
21        5        250           0.301350
22        6        250           0.300213
23        7        250           0.296375
24        8        250           0.002274
25        9        250           0.000000

## EncodecMAE (Encodec) and GloVe

In [13]:
get_df_asif_accuracy('base_layer9', 'glove_layer0')

    val_exp  non_zeros  get_accuracy_top1
0         1        250           0.160910
1         1        500           0.121962
2         1        750           0.043070
3         2        250           0.194314
4         2        500           0.150249
5         2        750           0.074200
6         3        250           0.196446
7         3        500           0.166169
8         3        750           0.104478
9         4        250           0.226297
10        4        500           0.185359
11        4        750           0.134186
12        1        100           0.211940
13        2        100           0.217058
14        3        100           0.212082
15        4         10           0.052168
16        4         50           0.161620
17        4        100           0.192324
18        4        150           0.230988
19        4        200           0.232836
20        4        250           0.226297
21        5        250           0.224591
22        6        250           0.251457
23        7        250           0.250746
24        8        250           0.238664
25        9        250           0.237100

## EncodecMAE (MEL) con BERT

In [14]:
get_df_asif_accuracy('mel256-ec-base_layer9', 'bert-base-uncased_layer0')

    val_exp  non_zeros  get_accuracy_top1
0         1        250           0.398436
1         1        500           0.372992
2         1        750           0.354371
3         2        250           0.412651
4         2        500           0.390618
5         2        750           0.375124
6         3        250           0.416773
7         3        500           0.392182
8         3        750           0.373561
9         4        250           0.420327
10        4        500           0.394741
11        4        750           0.376262
12        1        100           0.422317
13        2        100           0.426724
14        3        100           0.430988
15        4         10           0.394741
16        4         50           0.431272
17        4        100           0.435821
18        4        150           0.431414
19        4        200           0.423028
20        4        250           0.420327
21        5        250           0.422317
22        6        250           0.423170
23        7        250           0.425160
24        8        250           0.037100
25        9        250           0.000711

## EncodecMAE (MEL) con GloVe

In [15]:
get_df_asif_accuracy('mel256-ec-base_layer9', 'glove_layer0')

    val_exp  non_zeros  get_accuracy_top1
0         1        250           0.213362
1         1        500           0.148827
2         1        750           0.072921
3         2        250           0.266240
4         2        500           0.202416
5         2        750           0.119545
6         3        250           0.282303
7         3        500           0.231130
8         3        750           0.175124
9         4        250           0.325515
10        4        500           0.257143
11        4        750           0.219332
12        1        100           0.313859
13        2        100           0.332054
14        3        100           0.337029
15        4         10           0.119972
16        4         50           0.335323
17        4        100           0.322104
18        4        150           0.352665
19        4        200           0.345416
20        4        250           0.325515
21        5        250           0.330775
22        6        250           0.366311
23        7        250           0.363326
24        8        250           0.351812
25        9        250           0.352950

## BEATs and BERT

In [16]:
get_df_asif_accuracy('iter3_layer5', 'bert-base-uncased_layer10')

    val_exp  non_zeros  get_accuracy_top1
0         1        250           0.002559
1         1        500           0.001848
2         1        750           0.001990
3         2        250           0.002985
4         2        500           0.001706
5         2        750           0.002274
6         3        250           0.003269
7         3        500           0.001421
8         3        750           0.002701
9         4        250           0.003412
10        4        500           0.002274
11        4        750           0.003412
12        1        100           0.003412
13        2        100           0.003127
14        3        100           0.003696
15        4         10           0.002985
16        4         50           0.003127
17        4        100           0.003838
18        4        150           0.003980
19        4        200           0.003269
20        4        250           0.003412
21        5        250           0.003696
22        6        250           0.005259
23        7        250           0.003980
24        8        250           0.000426
25        9        250           0.033547

## BEATs and GloVe

In [17]:
get_df_asif_accuracy('iter3_layer3', 'glove_layer0')

    val_exp  non_zeros  get_accuracy_top1
0         1        250           0.000142
1         1        500           0.000000
2         1        750           0.000000
3         2        250           0.000284
4         2        500           0.000284
5         2        750           0.000142
6         3        250           0.000426
7         3        500           0.000284
8         3        750           0.000284
9         4        250           0.000284
10        4        500           0.000284
11        4        750           0.000426
12        1        100           0.001421
13        2        100           0.000569
14        3        100           0.000142
15        4         10           0.000000
16        4         50           0.000000
17        4        100           0.000000
18        4        150           0.000000
19        4        200           0.000142
20        4        250           0.000284
21        5        250           0.000284
22        6        250           0.000284
23        7        250           0.000284
24        8        250           0.000284
25        9        250           0.000142